body{
    font: normal 15pt Arial;
    /* background-image: url(fundo.jpg); */
    background-size: cover;
    background-position: center; 
}

header{
    color: white;
    text-align: center;
}

section{
    padding: 15px 15px 30px 15px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

div#foto{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
#foto img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
